:root
{
    --dark-blue1: #00171F;
    --dark-blue2: #003459;
    --light-blue1: #007EA7;
    --light-blue2: #00A8E8;
}
html, body
{
    height: 100%;
    font-family: 'Antonio';
    background: #3271bd;
    background: -webkit-linear-gradient(-45deg, #20745f 0%, rgba(32, 116, 95, 0) 70%), -webkit-linear-gradient(-315deg, #81b0df 10%, rgba(129, 176, 223, 0) 80%), -webkit-linear-gradient(-225deg, #3271bd 10%, rgba(50, 113, 189, 0) 80%), -webkit-linear-gradient(-135deg, #375268 100%, rgba(55, 82, 104, 0) 70%);
    background: linear-gradient(45deg, #20745f 0%, rgba(32, 116, 95, 0) 70%), linear-gradient(135deg, #81b0df 10%, rgba(129, 176, 223, 0) 80%), linear-gradient(225deg, #3271bd 10%, rgba(50, 113, 189, 0) 80%), linear-gradient(315deg, #375268 100%, rgba(55, 82, 104, 0) 70%);
}

.table th {
    padding: 0.25rem !important;
}

    /* For Desktop View */
    @media screen and (min-width: 1024px) {
        #tempoMenu {
            display: block;
            position: absolute;
            z-index: 1;
        }
        #card-tempo {
            background: #fff;
            border-radius: 4px;
            box-shadow: 0 6px 8px rgb(0 0 0 / 10%), 0 0 5px rgb(0 0 0 / 20%), inset 0 0 2px rgb(255 255 255 / 50%);
            height: 2rem;
            width: 56vw;
        }
        .bpm {
            width: 4rem;
            height: 1.5rem;
            border: 1px solid #cfcfcf;
            border-radius: 2px;
            background: rgba(255, 255, 255, 0.2);
            font-size: small;
            font-weight: 400;
            padding: 0 10px;
            transition: all .3s;
            margin: 3px 3px 0px 86px;
            font-family: 'Antonio';
        }
        .label-action-x {
            font-size: small;
            text-align: center;
            font-family: 'Antonio';
            margin-left: -8vw;
            margin-top: 6px;
            color: #007EA7;
        }
        .checkbox-tempo-metronome {
            margin-left: 6vw;
            margin-top: 10px;
        }
        .checkbox-tempo-precount {
            margin-left: 6vw;
            margin-top: 10px;
        }
        #card-loop {
            background: #fff;
            border-radius: 4px;
            box-shadow: 0 6px 8px rgb(0 0 0 / 10%), 0 0 5px rgb(0 0 0 / 20%), inset 0 0 2px rgb(255 255 255 / 50%);
            height: 2rem;
            width: 36vw;
        }
        #loopMenu {
            display: block;
            position: absolute;
            z-index: 1;
        }
        .input-loop {
            width: 4rem;
            height: 1.5rem;
            border: 1px solid #cfcfcf;
            border-radius: 2px;
            background: rgba(255, 255, 255, 0.2);
            color: #007EA7;
            font-size: small;
            font-weight: 400;
            padding: 0 10px;
            transition: all .3s;
            margin-left: 8vw;
            margin-top: 3px;
        }
        .label-action-partical {
            font-size: small;
            text-align: center;
            font-family: 'Antonio';
            color: #007EA7;
            margin-left: 3vw;
        }
        .modal-dialog {
            max-width: 47vw !important;
        }
        .tab-tracks {
            margin-left: 10vw !important;
        }
        .tab-notes {
            margin-right: 10vw !important;
        }
        .label-action-presets {
            font-size: small;
            text-align: center;
            font-family: 'Antonio';
            font-weight: bold;
            margin-left: 8vw;
        }
        .instrument-item-setting {
            width: 6rem !important;
            margin-left: 173px !important;
        }
        .label-action-quantity {
            font-size: small;
            text-align: center;
            font-family: 'Antonio';
            font-weight: bold;
            margin-left: 2vw;
        }
        .mute {
            margin-left: 3.5vw !important;
        }
        .solo {
            margin-left: 3.5vw !important;
        }
        .step {
            width: 4.4vw;
            height: 12vh;
            margin-left: 0px;
            border: 1px solid var(--light-blue1);
            border-right: none;
            float: left;
            text-indent: 3px;
            margin-top: 25px;
            background-color: #003459;
            color: #fff;
            font-family: 'Antonio';
            text-align: center;
            white-space: pre-line;
            font-size: x-small;
        }
        .btn-update-track {
            width: fit-content;
            height: 20px;
            border: 1px solid #cfcfcf;
            border-radius: 2px;
            background: rgba(243, 167, 4, 0.2);
            color: #fff;
            font-size: small;
            font-weight: 400;
            padding: 0 10px;
            transition: all .3s;
            margin: 3px 3px 0px 7px;
            font-family: 'Antonio';
            margin-left: 30vw;
            margin-top: 2vh;
        }
        .modal-track-edit {
            width: 48vw !important;
        }
        .section_title {
            text-align: center;
            font-size: small;
            font-family: 'Antonio';
            margin-left: -5vw;
        }
        .edit_section_range {
            width: 10vw !important;
        }
        .random-volume {
            margin-left: 6vw !important;
        }
    }
    
    /* For Tablet View */
    @media screen and (min-device-width: 768px)
    and (max-device-width: 1024px) {
        #tempoMenu {
            display: block;
            position: absolute;
            z-index: 1;
        }
        #card-tempo {
            background: #fff;
            border-radius: 4px;
            box-shadow: 0 6px 8px rgb(0 0 0 / 10%), 0 0 5px rgb(0 0 0 / 20%), inset 0 0 2px rgb(255 255 255 / 50%);
            height: 2rem;
            width: 68vw;
        }
        .bpm {
            width: 3rem;
            height: 1.5rem;
            border: 1px solid #cfcfcf;
            border-radius: 2px;
            background: rgba(255, 255, 255, 0.2);
            font-size: small;
            font-weight: 400;
            padding: 0 10px;
            transition: all .3s;
            margin: 3px 3px 0px 10px;
            font-family: 'Antonio';
        }
        .label-action-x {
            font-size: small;
            text-align: center;
            font-family: 'Antonio';
            margin-left: -8vw;
            margin-top: 6px;
            color: #007EA7;
        }
        .checkbox-tempo-metronome {
            margin-left: 2vw;
            margin-top: 10px;
        }
        .checkbox-tempo-precount {
            margin-left: 3vw;
            margin-top: 10px;
        }
        #card-loop {
            background: #fff;
            border-radius: 4px;
            box-shadow: 0 6px 8px rgb(0 0 0 / 10%), 0 0 5px rgb(0 0 0 / 20%), inset 0 0 2px rgb(255 255 255 / 50%);
            height: 2rem;
            width: 46vw;
        }
        #loopMenu {
            display: block;
            position: absolute;
            z-index: 1;
        }
        .input-loop {
            width: 4rem;
            height: 1.5rem;
            border: 1px solid #cfcfcf;
            border-radius: 2px;
            background: rgba(255, 255, 255, 0.2);
            color: #007EA7;
            font-size: small;
            font-weight: 400;
            padding: 0 10px;
            transition: all .3s;
            margin-left: 8vw;
            margin-top: 3px;
        }
        .label-action-partical {
            font-size: small;
            text-align: center;
            font-family: 'Antonio';
            color: #007EA7;
            margin-left: 3vw;
        }
        /* .modal-dialog {
            max-width: 47vw !important;
        } */
        /* .tab-tracks {
            margin-left: 10vw !important;
        } */
        /* .tab-notes {
            margin-right: 10vw !important;
        } */
        .label-action-presets {
            font-size: small;
            text-align: center;
            font-family: 'Antonio';
            font-weight: bold;
            margin-left: 8vw;
        }
        .instrument-item-setting {
            width: 6rem !important;
            margin-left: 112px !important;
        }
        .label-action-quantity {
            font-size: small;
            text-align: center;
            font-family: 'Antonio';
            font-weight: bold;
            margin-left: 2vw;
        }
        .mute {
            margin-left: 3.5vw !important;
        }
        .solo {
            margin-left: 3.5vw !important;
        }
        .step {
            width: 5.5vw;
            height: 8vh;
            margin-left: 0px;
            border: 1px solid var(--light-blue1);
            border-right: none;
            float: left;
            text-indent: 3px;
            margin-top: 25px;
            background-color: #003459;
            color: #fff;
            font-family: 'Antonio';
            text-align: center;
            white-space: pre-line;
            font-size: x-small;
        }
        .btn-update-track {
            width: fit-content;
            height: 20px;
            border: 1px solid #cfcfcf;
            border-radius: 2px;
            background: rgba(243, 167, 4, 0.2);
            color: #fff;
            font-size: small;
            font-weight: 400;
            padding: 0 10px;
            transition: all .3s;
            margin: 3px 3px 0px 7px;
            font-family: 'Antonio';
            margin-left: 34.5vw;
            margin-top: 2vh;
        }
        .notes-edit {
            overflow-x: scroll;
        }
        .modal-track-edit {
            width: 64vw !important;
        }
        .section_title {
            text-align: center;
            font-size: small;
            font-family: 'Antonio';
            margin-left: -5vw;
        }
        .edit_section_range {
            width: 15vw !important;
        }
        .random-volume {
            margin-left: 1.5vw !important;
        }
        .btn-random-setting {
            margin-left: -2vw !important;
            margin-top: 3vw !important;
        }
    }
    
    /* For Mobile Portrait View */
    @media screen and (max-device-width: 480px)
    and (orientation: portrait) {
        #tempoMenu {
            display: block;
            position: absolute;
            z-index: 1;
        }
        #card-tempo {
            background: #fff;
            border-radius: 4px;
            box-shadow: 0 6px 8px rgba(0, 0, 0, 0.1), 0 0 5px rgba(0, 0, 0, 0.2), inset 0 0 2px rgba(255, 255, 255, 0.5);
            height: 2rem;
            width: 80vw;
        }
        .bpm {
            width: 3rem;
            height: 1.5rem;
            border: 1px solid #cfcfcf;
            border-radius: 2px;
            background: rgba(255, 255, 255, 0.2);
            font-size: small;
            font-weight: 400;
            padding: 0 10px;
            transition: all .3s;
            margin: 3px 3px 0px 7px;
            font-family: 'Antonio';
        }
        .label-action-x {
            font-size: small;
            text-align: center;
            font-family: 'Antonio';
            margin-left: -26px;
            margin-top: 6px;
            color: #007EA7;
        }
        .checkbox-tempo-metronome {
            margin-left: -12px;
            margin-top: 10px;
        }
        .checkbox-tempo-precount {
            margin-left: -2px;
            margin-top: 10px;
        }
        #card-loop {
            background: #fff;
            border-radius: 4px;
            box-shadow: 0 6px 8px rgba(0, 0, 0, 0.1), 0 0 5px rgba(0, 0, 0, 0.2), inset 0 0 2px rgba(255, 255, 255, 0.5);
            height: 2rem;
            width: 60vw;
        }
        #loopMenu {
            display: block;
            position: absolute;
            z-index: 1;
        }
        .input-loop {
            width: 4rem;
            height: 1.5rem;
            border: 1px solid #cfcfcf;
            border-radius: 2px;
            background: rgba(255, 255, 255, 0.2);
            color: #007EA7;
            font-size: small;
            font-weight: 400;
            padding: 0 10px;
            transition: all .3s;
            margin-left: 26px;
            margin-top: 3px;
        }
        .label-action-partical {
            font-size: small;
            text-align: center;
            font-family: 'Antonio';
            color: #007EA7;
        }
        .modal-dialog {
            max-width: 500px;
        }
        .label-action-presets {
            font-size: small;
            text-align: center;
            font-family: 'Antonio';
            font-weight: bold;
        }
        .instrument-item-setting {
            width: 6rem !important;
            margin-left: 46px !important;
        }
        .label-action-quantity {
            font-size: small;
            text-align: center;
            font-family: 'Antonio';
            font-weight: bold;
        }
        .mute {
            margin-left: 5vw;
        }
        .solo {
            margin-left: 5vw;
        }
        .track-card {
            margin-top: -10vw;
        }
        .gen-track {
            margin-top: 10vw;
        }
        .step
        {
            width: 5.5vw;
            height: 5vh;
            margin-left: 0px;
            border: 1px solid var(--light-blue1);
            border-right: none;
            float: left;
            text-indent: 3px;
            margin-top: 25px;
            background-color: #003459;
            color: #fff;
            font-family: 'Antonio';
            text-align: center;
            white-space: pre-line;
            font-size: x-small;
        }
        .btn-update-track {
            width: fit-content;
            height: 20px;
            border: 1px solid #cfcfcf;
            border-radius: 2px;
            background: rgba(243, 167, 4, 0.2);
            color: #fff;
            font-size: small;
            font-weight: 400;
            padding: 0 10px;
            transition: all .3s;
            margin: 3px 3px 0px 7px;
            font-family: 'Antonio';
            margin-left: 26vw;
            margin-top: 2vh;
        }
        .notes-edit {
            overflow-x: scroll;
        }
        .section_title
        {
            text-align: center;
            font-size: small;
            font-family: 'Antonio';
            margin-left: -18vw;
        }
        .edit_section_range {
            width: 18vw;
        }
        .random-setting {
            margin-left: -10vw !important;
        }
        .random-volume {
            margin-left: -6vw !important;
        }
        .btn-random-setting {
            margin-left: -6vw !important;
            margin-top: 3vw !important;
        }
    }
    
    /* For Mobile Landscape View */
    @media screen and (max-device-width: 640px)
    and (orientation: landscape) {
        #tempoMenu {
            display: block;
            position: absolute;
            z-index: 1;
        }
        #card-tempo {
            background: #fff;
            border-radius: 4px;
            box-shadow: 0 6px 8px rgba(0, 0, 0, 0.1), 0 0 5px rgba(0, 0, 0, 0.2), inset 0 0 2px rgba(255, 255, 255, 0.5);
            height: 2rem;
            width: 80vw;
        }
        .bpm {
            width: 3rem;
            height: 1.5rem;
            border: 1px solid #cfcfcf;
            border-radius: 2px;
            background: rgba(255, 255, 255, 0.2);
            font-size: small;
            font-weight: 400;
            padding: 0 10px;
            transition: all .3s;
            margin: 3px 3px 0px 7px;
            font-family: 'Antonio';
        }
        .label-action-x {
            font-size: small;
            text-align: center;
            font-family: 'Antonio';
            margin-left: -26px;
            margin-top: 6px;
            color: #007EA7;
        }
        .checkbox-tempo-metronome {
            margin-left: -12px;
            margin-top: 10px;
        }
        .checkbox-tempo-precount {
            margin-left: -2px;
            margin-top: 10px;
        }
        #card-loop {
            background: #fff;
            border-radius: 4px;
            box-shadow: 0 6px 8px rgba(0, 0, 0, 0.1), 0 0 5px rgba(0, 0, 0, 0.2), inset 0 0 2px rgba(255, 255, 255, 0.5);
            height: 2rem;
            width: 60vw;
        }
        #loopMenu {
            display: block;
            position: absolute;
            z-index: 1;
        }
        .input-loop {
            width: 4rem;
            height: 1.5rem;
            border: 1px solid #cfcfcf;
            border-radius: 2px;
            background: rgba(255, 255, 255, 0.2);
            color: #007EA7;
            font-size: small;
            font-weight: 400;
            padding: 0 10px;
            transition: all .3s;
            margin-left: 26px;
            margin-top: 3px;
        }
        .label-action-partical {
            font-size: small;
            text-align: center;
            font-family: 'Antonio';
            color: #007EA7;
        }
        .modal-dialog {
            max-width: 500px;
        }
        .label-action-presets {
            font-size: small;
            text-align: center;
            font-family: 'Antonio';
            font-weight: bold;
        }
        .instrument-item-setting {
            width: 6rem !important;
            margin-left: 46px !important;
        }
        .label-action-quantity {
            font-size: small;
            text-align: center;
            font-family: 'Antonio';
            font-weight: bold;
        }
        .mute {
            margin-left: 5vw;
        }
        .solo {
            margin-left: 5vw;
        }
        .track-card {
            margin-top: -10vw;
        }
        .gen-track {
            margin-top: 10vw;
        }
        .step
        {
            width: 5.5vw;
            height: 5vh;
            margin-left: 0px;
            border: 1px solid var(--light-blue1);
            border-right: none;
            float: left;
            text-indent: 3px;
            margin-top: 25px;
            background-color: #003459;
            color: #fff;
            font-family: 'Antonio';
            text-align: center;
            white-space: pre-line;
            font-size: x-small;
        }
        .btn-update-track {
            width: fit-content;
            height: 20px;
            border: 1px solid #cfcfcf;
            border-radius: 2px;
            background: rgba(243, 167, 4, 0.2);
            color: #fff;
            font-size: small;
            font-weight: 400;
            padding: 0 10px;
            transition: all .3s;
            margin: 3px 3px 0px 7px;
            font-family: 'Antonio';
            margin-left: 26vw;
            margin-top: 2vh;
        }
        .notes-edit {
            overflow-x: scroll;
        }
        .section_title
        {
            text-align: center;
            font-size: small;
            font-family: 'Antonio';
            margin-left: -18vw;
        }
        .edit_section_range {
            width: 18vw;
        }
        .random-setting {
            margin-left: -10vw !important;
        }
        .random-volume {
            margin-left: -6vw !important;
        }
        .btn-random-setting {
            margin-left: -6vw !important;
            margin-top: 3vw !important;
        }
    }
    
    /* For Mobile Phones Portrait or Landscape View */
    @media screen and (max-device-width: 640px) {

    }
    
    /* For iPhone 4 Portrait or Landscape View */
    @media screen and (min-device-width: 320px)
    and (-webkit-min-device-pixel-ratio: 2) {

    }
    
    /* For iPhone 5 Portrait or Landscape View */
    @media (device-height: 568px) and (device-width: 320px)
    and (-webkit-min-device-pixel-ratio: 2) {

    }
    
    /* For iPhone 6 and 6 plus Portrait or Landscape View */
    @media (min-device-height: 667px) and (min-device-width: 375px)
    and (-webkit-min-device-pixel-ratio: 3) {

    }

/*Ipad ngang(1024 x 768)*/
/* @media screen and (max-width: 1024px){
    #tempoMenu {
        display: none;
        position: absolute;
        z-index: 1;
        margin-top: -32px;
        margin-left: 265px;
    }
} */
/*Ipad dọc(768 x 1024)*/
/* @media screen and (max-width: 768px){
    
} */
/*Tablet nhỏ(480 x 640)*/
/* @media screen and (max-width: 480px){
    
} */
/*Iphone(480 x 640)*/
/* @media screen and (max-width: 320px){
    
} */
/*Smart phone nhỏ*/
/* @media screen and (max-width: 240px){
    
} */

/* width */
::-webkit-scrollbar {
    width: 6px;
    
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: var(--dark-blue1);
    border-radius: 3px;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: var(--dark-blue2);
    border-radius: 3px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: var(--light-blue1);
  }
#wrapper
{
    /* width: 1024px; */
    position: relative; 
    max-height: 89%;
    margin: 0px auto;
    /* overflow-y: auto; */
}
#master_controls
{
    width: 100%;
    height: 50px;
    border-bottom: 2px solid var(--light-blue1);
    color: var(--light-blue2);
}
#master_controls .button
{
    margin-left: 10px;
    border: none;
}
#bpmMenu
{
    position: absolute;
    top: 60px;
    left: 152px;
    width: 182px;
    padding: 5px;
    background-color: var(--dark-blue1);
    border: 1px solid var(--light-blue2);
}
.button
{
    width: fit-content;
    height: 40px;
    padding: 5px;
    line-height: 40px;
    font-size: 24px;
    border: 1px solid var(--light-blue1);
    float: left;
}
.button:hover
{
    background-color: var(--light-blue1);
    color: var(--dark-blue2);
    cursor: pointer;
}
#tracks
{
    width: 100%;
}
.track
{
    height: 88px;
    margin-top: 6px;
    margin-left: 3px;
}
.track_controls
{
    height: fit-content;
}
.track_controls .button
{
    font-size: 18px;
    height: 30px;
    line-height: 30px;
}
.track_header
{
    padding: 5px;
    width: fit-content;
    height: fit-content;
    border: 1px solid var(--light-blue1);
    float: left;
    border-radius: 3px;
}
.track_name
{
    font-size: 20px;
    margin-bottom: 2px;
    padding-left: 3px;
    background-color: var(--light-blue2);
    color: var(--dark-blue1);
}
.track_steps
{
    float: left;
    margin-left: 3px;
}
/* .step
{
    width: 5.5vw;
    height: 5vh;
    margin-left: 0px;
    border: 1px solid var(--light-blue1);
    border-right: none;
    float: left;
    text-indent: 3px;
    margin-top: 25px;
    background-color: #003459;
    color: #fff;
    font-family: 'Antonio';
    text-align: center;
    white-space: pre-line;
    font-size: x-small;
} */
.step-bold {
  opacity: 50%;
}
.step-nomal {
  opacity: 30%;
}
#stepNum
{
    position: relative;
    top: 68px;
}
#last
{
    border-right: 1px solid var(--light-blue1);
}

.edit_menu
{
    position: absolute;
    width: inherit;
    height: 550px;
    left: 0;
    right: 0;
    bottom: -1200px;
    margin: 0px auto;
    /* border: 1px solid var(--light-blue2);
    background-color: var(--dark-blue1); */
    transition: bottom 0.2s;
    box-shadow: 0px 0px 12px 2px rgba(0, 0, 0, 0.4);
    opacity: 0;
}
.edit_title
{
    font-size: 24px;
    width: 100%;
    text-align: center;
    border-bottom: 1px solid #fff;
    padding-bottom: 3px;
}
.edit_title .button
{
    font-size: 20px;
    height: 22px;
    line-height: 18px;
    float: right;
    border: none;
}
.edit_options
{
    padding: 3px;
}
.edit_section
{
    border: 1px solid #fff;
    /* width: 183px; */
    padding: 5px;
    float: left;
    /* margin-left: 21px; */
    margin-top: 5px;
    width: 170px;
}
.edit_section_range {
    width: 18vw;
}
.edit_steps {
    margin-left: 10px;
}
.edit_track {
    margin-left: 10px;
}
/* .section_title
{
    text-align: center;
    font-size: small;
    font-family: 'Antonio';
    margin-left: -18vw;
} */
.edit_section .button
{
    font-size: 18px;
    margin-top: 2px;
}
#trackMenu
{
    /* height: 380px; */
}

#noteMenu {
    /* background-color: var(--light-blue1); */
}

#keys
{
    float: left;
    width: 42px;
    border-right: 1px solid var(--light-blue2);
    padding-right: 5px;
}
#grid_keys
{
    float: left;
    width: 90%;
}
#grid_keys .key_b
{
    width: 100%;
}
#grid_steps
{
    left: 59px;
    position: absolute;
}
.g_step
{
    height: 350px;
    float: left;
}
.g_step .key_w, .g_step .key_b
{
    width: 43px;
    border-radius: 0px;
    text-align: center;
    text-indent: 0px;
    border: 1px solid #00455C;
    opacity: 70%;
    cursor: pointer;
}
.key_b2
{
    width: 42px;
    height: 32px;
    line-height: 32px;
    border-radius: 0px;
    text-align: center;
    text-indent: 0px;
    border: 1px solid #00455C;
    opacity: 70%;
    color: #000;
}
.key_b2:hover
{
    opacity: 100%;
}
.key_w
{
    height: 32px;
    border-radius: 3px;
    line-height: 32px;
    border: 1px solid var(--light-blue1);
    background-color: #172c33;
    text-indent: 5px;
}
.key_b
{
    text-indent: 5px;
    line-height: 32px;
    height: 32px;
    width: 30px;
    border-radius: 3px;
    border: 1px solid var(--light-blue1);
    color: #000;
}
.g_step .key_b:hover, .g_step .key_w:hover
{
    opacity: 100%;
}

#footer
{
    position: absolute;
    bottom: 0px;
    left: 0px;
    color: rgb(0, 98, 131);
    font-size: 14px;
    width: 100%;
    background-color: var(--dark-blue1);
    padding-left: 5px;
    padding-bottom: 5px;
}
a
{
    color: rgb(0, 112, 150);   
}

.label {
    text-align: center;
    font-family: 'Antonio';
    font-weight: bold;
    font-size: 34px;
}

#card,
#menu,
#weather,
#post {
  /* overflow: hidden; */
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 4px;
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.1), 0 0 5px rgba(0, 0, 0, 0.2), inset 0 0 2px rgba(255, 255, 255, 0.5);
  margin-top: 30px;
}

#card {
  text-align: center;
  height: 66px;
  /* padding: 30px 0; */
}

/* .track-card {
    margin-top: -10vw;
} */

.function {
    margin-bottom: 28px;
}

.trackName {
    /* width: 100%; */
    /* height: 150px; */
    /* background: #ddd; */
    width: 100%;
    height: 30px;
    border: 1px solid #cfcfcf;
    border-radius: 2px;
    background: rgba(255, 255, 255, 0.2);
    color: #fff;
    font-size: 12px;
    font-weight: 400;
    padding: 0 10px;
    transition: all .3s;
    margin: 3px 3px 0px 10px;
}

.select-dropdown,
.select-dropdown * {
	margin: 0;
	padding: 0;
	position: relative;
	box-sizing: border-box;
}
.select-dropdown {
    width: 100%;
    height: 30px;
    border: 1px solid #cfcfcf;
    border-radius: 2px;
    background: rgba(255, 255, 255, 0.2);
    color: #fff;
    font-size: 12px;
    font-weight: 400;
    padding: 0 10px;
    transition: all .3s;
    margin: 0px 3px 3px 10px;
}
.select-dropdown select {
	font-size: 12px;
	font-weight: normal;
	max-width: 100%;
	padding: 5px 1px 1px 1px;
	border: none;
	background-color: transparent;
    -webkit-appearance: none;
    -moz-appearance: none;
	appearance: none;
    padding-top: 5px;
    cursor: pointer;
    text-align: center;
}
.select-dropdown select:active, .select-dropdown select:focus {
	outline: none;
	box-shadow: none;
}
.select-dropdown:after {
	content: "";
	position: absolute;
	top: 50%;
	right: 8px;
	width: 0;
	height: 0;
	margin-top: -2px;
	border-top: 5px solid #aaa;
	border-right: 5px solid transparent;
	border-left: 5px solid transparent;
}

.label-action {
  font-size: 12px;
  text-align: center;
  color: #fff;
  margin-left: -3px;
  font-family: 'Antonio';
}

.label-action-bpm {
    font-size: 12px;
    text-align: center;
    margin-left: -3px;
    font-family: 'Antonio';
    color: #007EA7;
}

/* .label-action-x {
    font-size: small;
    text-align: center;
    font-family: 'Antonio';
    margin-left: -26px;
    margin-top: 6px;
    color: #007EA7;
} */

.label-action-metronome {
    font-size: 12px;
    text-align: center;
    font-family: 'Antonio';
    color: #007EA7;
}

.label-action-precount {
    font-size: 12px;
    text-align: center;
    font-family: 'Antonio';
    color: #007EA7;
}

/* .label-action-partical {
    font-size: small;
    text-align: center;
    font-family: 'Antonio';
    color: #007EA7;
} */

.label-action-full {
    font-size: small;
    text-align: center;
    font-family: 'Antonio';
    color: #007EA7;
}

/* .label-action-presets {
    font-size: small;
    text-align: center;
    font-family: 'Antonio';
    font-weight: bold;
} */

/* .label-action-quantity {
    font-size: small;
    text-align: center;
    font-family: 'Antonio';
    font-weight: bold;
} */

.label-track {
    font-size: 12px;
    text-align: center;
    font-family: 'Antonio';
}

.label-table-header {
    font-size: 14px;
    text-align: center;
    font-family: 'Antonio';
}

.label-notes {
    font-size: 14px;
    font-family: 'Antonio';
}

.label-octave {
    font-size: 14px;
    font-family: 'Antonio';
}

.label-edit {
    text-align: center;
    color: #fff;
    /* margin-left: -3px; */
    font-family: 'Antonio';
}

.label-tracks {
    font-size: 14px;
    font-family: 'Antonio';
}

.label-delete-track {
    font-size: 14px;
    text-align: center;
    font-family: 'Antonio';
}

.label-song-list {
    font-size: 14px;
    text-align: center;
    font-family: 'Antonio';
}

.label-song-name {
    font-size: 12px;
    text-align: center;
    font-family: 'Antonio';
}

.song-name {
    font-size: 12px;
    font-family: 'Antonio';
}

.label-error-song-name {
    font-size: 12px;
    font-family: 'Antonio';
    color: red;
}

.instrument-item {
    font-size: 12px;
    text-align: center;
    color: #fff;
    font-family: 'Antonio';
}

#player {
	margin: 5px auto;
    justify-content: center;
    align-items: center;
}

#player i {
    margin: 0px 5px;
}

.fa-volume-down {
  margin-left: 2px;
}

.fa-volume-up {
  margin-left: 73px;
}

.volume-ctrl {
    width: 80%;
    height: 25px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}
  
.volume-ctrl:hover {
    opacity: 1;
}

/* #volume {
	position: absolute;
	left: 32px;
	margin: 5px auto;
	height: 5px;
	width: 60px;
	background: #555;
	border-radius: 15px;
} */

.ui-slider-range-min {
    height: 5px;
    width: 300px;
    position: absolute;
    background: #2ecc71;
    border: none;
    border-radius: 10px;
    outline: none;
}

.ui-slider-handle {
    width: 20px;
    height: 20px;
    border-radius: 20px;
    background: #FFF;
    position: absolute;
    margin-left: -8px;
    margin-top: -8px;
    cursor: pointer;
    outline: none;
}

.btn-edit {
    width: fit-content;
    height: 30px;
    border: 1px solid #cfcfcf;
    border-radius: 2px;
    background: rgba(255, 255, 255, 0.2);
    color: #fff;
    font-size: 12px;
    font-weight: 400;
    padding: 0 10px;
    transition: all .3s;
    margin: 18px 3px 0px 30px;
    font-family: 'Antonio';
}

.btn-gen {
    width: fit-content;
    height: 30px;
    border: 1px solid #cfcfcf;
    border-radius: 2px;
    background: rgba(255, 255, 255, 0.2);
    color: #fff;
    font-size: 12px;
    font-weight: 400;
    padding: 0 10px;
    transition: all .3s;
    margin: 18px 3px 0px -30px;
    font-family: 'Antonio';
}

.btn-play {
    width: fit-content;
    height: 30px;
    border: 1px solid #cfcfcf;
    border-radius: 2px;
    background: rgba(243, 167, 4, 0.2);
    color: #fff;
    font-size: 12px;
    font-weight: 400;
    padding: 0 10px;
    transition: all .3s;
    margin: 3px 3px 0px 7px;
    font-family: 'Antonio';
}

.btn-stop {
    width: fit-content;
    height: 30px;
    border: 1px solid #cfcfcf;
    border-radius: 2px;
    background: rgba(243, 167, 4, 0.2);
    color: #fff;
    font-size: 12px;
    font-weight: 400;
    padding: 0 10px;
    transition: all .3s;
    margin: 3px 3px 0px 7px;
    font-family: 'Antonio';
}

.btn-music-fun {
    width: 4rem;
    height: 2rem;
    border: 1px solid #cfcfcf;
    border-radius: 2px;
    background: #007EA7;
    color: rgb(255, 136, 0);
    transition: all .3s;
    font-family: 'Antonio';
    margin-left: -1rem;
    font-size: small;
}

.btn-tempo {
    color: #fff;
    font-family: 'Antonio';
    margin-top: 6px;
    text-align: center;
    font-size: small;
    cursor: pointer;
}

.btn-loop {
    color: #fff;
    font-family: 'Antonio';
    margin-top: 6px;
    text-align: center;
    font-size: small;
    cursor: pointer;
}

.btn-backward {
    color: #fff;
    margin-top: 3px;
    text-align: center;
    cursor: pointer;
}

.btn-play-circle {
    color: #fff;
    margin-top: 3px;
    text-align: center;
    cursor: pointer;
}

.btn-plus-circle {
    color: #fff;
    margin-top: 3px;
    text-align: center;
    cursor: pointer;
}

.btn-music-fun-menu {
    color: #fff;
    font-family: 'Antonio';
    margin-left: 18px;
}

.btn-track-menu {
    width: fit-content;
    height: 2rem;
    border: 1px solid #cfcfcf;
    border-radius: 2px;
    background: rgba(243, 167, 4, 0.2);
    color: #fff;
    font-size: small;
    font-weight: 400;
    padding: 0 10px;
    transition: all .3s;
    margin: 3px 3px 0px 0px;
    font-family: 'Antonio';
}

.btn-track-a {
    margin-left: -30px;
}

/* .btn-update-track {
    width: fit-content;
    height: 20px;
    border: 1px solid #cfcfcf;
    border-radius: 2px;
    background: rgba(243, 167, 4, 0.2);
    color: #fff;
    font-size: small;
    font-weight: 400;
    padding: 0 10px;
    transition: all .3s;
    margin: 3px 3px 0px 7px;
    font-family: 'Antonio';
    margin-left: 26vw;
    margin-top: 2vh;
} */

.btn-gen-track {
    width: fit-content;
    height: 30px;
    border: 1px solid #cfcfcf;
    border-radius: 2px;
    background: #007EA7;
    color: #fff;
    font-size: 12px;
    font-weight: 400;
    padding: 0 10px;
    transition: all .3s;
    margin: 10px;
    font-family: 'Antonio';
}

.btn-clear-track {
    width: fit-content;
    height: 30px;
    border: 1px solid #cfcfcf;
    border-radius: 2px;
    background: #007EA7;
    color: #fff;
    font-size: 12px;
    font-weight: 400;
    padding: 0 10px;
    transition: all .3s;
    margin: 10px;
    font-family: 'Antonio';
}

.btn-edit-track {
    width: fit-content;
    height: 30px;
    border: 1px solid #cfcfcf;
    border-radius: 2px;
    background: #007EA7;
    color: #fff;
    font-size: 12px;
    font-weight: 400;
    padding: 0 10px;
    transition: all .3s;
    margin: 10px;
    font-family: 'Antonio';
}

.btn-delete-track {
    width: fit-content;
    height: 30px;
    border: 1px solid #cfcfcf;
    border-radius: 2px;
    background: #007EA7;
    color: rgb(255, 0, 0);
    font-size: 12px;
    font-weight: 400;
    padding: 0 10px;
    transition: all .3s;
    margin: 10px;
    font-family: 'Antonio';
}

.btn-random-track {
    color: rgb(255, 136, 0);
    font-family: 'Antonio';
    text-align: center;
    cursor: pointer;
}

.btn-octave {
    width: fit-content;
    height: 30px;
    border: 1px solid #cfcfcf;
    border-radius: 2px;
    color: #000;
    font-size: 12px;
    font-weight: 400;
    padding: 0 10px;
    transition: all .3s;
    margin: 3px 3px 0px 7px;
    font-family: 'Antonio';
}

.btn-octave.active {
    background: rgb(255, 136, 0);
}

/* .bpm {
    width: 3rem;
    height: 1.5rem;
    border: 1px solid #cfcfcf;
    border-radius: 2px;
    background: rgba(255, 255, 255, 0.2);
    font-size: small;
    font-weight: 400;
    padding: 0 10px;
    transition: all .3s;
    margin: 3px 3px 0px 7px;
    font-family: 'Antonio';
} */

.btn-settings {
    width: fit-content;
    height: 30px;
    border: 1px solid #cfcfcf;
    border-radius: 2px;
    background: rgba(243, 167, 4, 0.2);
    color: #fff;
    font-size: 12px;
    font-weight: 400;
    padding: 0 10px;
    transition: all .3s;
    margin: 3px 3px 0px -15px;
    font-family: 'Antonio';
}

.btn-generate {
    width: fit-content;
    height: 30px;
    border: 1px solid #cfcfcf;
    border-radius: 2px;
    background: rgba(255, 255, 255, 0.2);
    color: #fff;
    font-size: 16px;
    font-weight: 400;
    padding: 0 10px;
    transition: all .3s;
    margin: 10px 0px 8px 0px;
    font-family: 'Antonio';
    cursor: pointer;
}

.btn-yes {
    width: fit-content;
    height: 30px;
    border: 1px solid #cfcfcf;
    border-radius: 2px;
    background: rgb(255, 136, 0);
    color: #fff;
    font-size: 12px;
    font-weight: 400;
    padding: 0 10px;
    transition: all .3s;
    margin: 3px 3px 0px 40px;
    font-family: 'Antonio';
}

.btn-no {
    width: fit-content;
    height: 30px;
    border: 1px solid #cfcfcf;
    border-radius: 2px;
    background: #007EA7;
    color: #fff;
    font-size: 12px;
    font-weight: 400;
    padding: 0 10px;
    transition: all .3s;
    margin: 3px 3px 0px 40px;
    font-family: 'Antonio';
}

.btn-save-song {
    width: fit-content;
    height: 30px;
    border: 1px solid #cfcfcf;
    border-radius: 2px;
    background: #007EA7;
    color: #fff;
    font-size: 12px;
    font-weight: 400;
    padding: 0 10px;
    transition: all .3s;
    margin: 3px 3px 0px 7px;
    font-family: 'Antonio';
}

#card-track {
    background: rgba(243, 167, 4, 0.2);
    border-radius: 4px;
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.1), 0 0 5px rgba(0, 0, 0, 0.2), inset 0 0 2px rgba(255, 255, 255, 0.5);
    height: 175px;
    width: 160px;
    
}

#card-music-fun-menu {
    background: #3271bd;
    border-radius: 4px;
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.1), 0 0 5px rgba(0, 0, 0, 0.2), inset 0 0 2px rgba(255, 255, 255, 0.5);
    width: 4rem;
    margin-left: -15px;
    font-size: small;
}

/* #card-tempo {
    background: #fff;
    border-radius: 4px;
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.1), 0 0 5px rgba(0, 0, 0, 0.2), inset 0 0 2px rgba(255, 255, 255, 0.5);
    height: 2rem;
    width: 80vw;
} */

/* #card-loop {
    background: #fff;
    border-radius: 4px;
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.1), 0 0 5px rgba(0, 0, 0, 0.2), inset 0 0 2px rgba(255, 255, 255, 0.5);
    height: 2rem;
    width: 60vw;
} */

#header {
    background-color: rgba(243, 167, 4, 0.2);
    border-radius: 4px;
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.1), 0 0 5px rgba(0, 0, 0, 0.2), inset 0 0 2px rgba(255, 255, 255, 0.5);
    height: 2rem;
    position: relative;
    z-index: 999999;
}

.quantity-track {
    font-size: 12px;
    color: #fff;
    font-family: 'Antonio';
    text-align: left;
    margin: 0px 3px 3px 10px
}

.input-track {
    width: 6rem;
    height: 30px;
    border: 1px solid #cfcfcf;
    border-radius: 2px;
    background: rgba(255, 255, 255, 0.2);
    color: #fff;
    font-size: 12px;
    font-weight: 400;
    padding: 0 10px;
    transition: all .3s;
    margin: 0px 3px 3px 10px
}

.input-step-time {
    width: 3rem;
    height: 1.5rem;
    border: 1px solid #cfcfcf;
    border-radius: 2px;
    background: rgba(255, 255, 255, 0.2);
    color: #007EA7;
    font-size: small;
    font-weight: 400;
    padding: 0 10px;
    transition: all .3s;
    margin-left: -16px;
    margin-top: 3px;
}

/* .input-loop {
    width: 4rem;
    height: 1.5rem;
    border: 1px solid #cfcfcf;
    border-radius: 2px;
    background: rgba(255, 255, 255, 0.2);
    color: #007EA7;
    font-size: small;
    font-weight: 400;
    padding: 0 10px;
    transition: all .3s;
    margin-left: 26px;
    margin-top: 3px;
} */

.setting-menu {
    font-size: 14px;
    color: #fff;
    font-family: 'Antonio';
    margin-bottom: 5px;
    margin-left: 40px;
}

/* .instrument-item-setting {
    width: 6rem;
} */

.close-setting {
    margin-left: 30px;
}

.btn-gen-setting {
    width: fit-content;
    height: 30px;
    border: 1px solid #cfcfcf;
    border-radius: 2px;
    background: rgba(243, 167, 4, 0.2);
    color: #fff;
    font-size: 12px;
    font-weight: 400;
    padding: 0 10px;
    transition: all .3s;
    margin: 3px 3px 0px 40px;
    font-family: 'Antonio';
}

.btn-ok {
    width: fit-content;
    height: 30px;
    border: 1px solid #cfcfcf;
    border-radius: 2px;
    background: rgb(255, 136, 0);
    color: #fff;
    font-size: 12px;
    font-weight: 400;
    padding: 0 10px;
    transition: all .3s;
    margin: 3px 3px 0px 40px;
    font-family: 'Antonio';
}

.btn-cancel {
    width: fit-content;
    height: 30px;
    border: 1px solid #cfcfcf;
    border-radius: 2px;
    background: #007EA7;
    color: #fff;
    font-size: 12px;
    font-weight: 400;
    padding: 0 10px;
    transition: all .3s;
    margin: 3px 3px 0px 40px;
    font-family: 'Antonio';
}

#settingMenu {
    display: none;
    position: absolute;
    z-index: 1;
}

#musicFunMenu {
    display: none;
    position: absolute;
    z-index: 1;
}

.hr-music-fun-menu {
    width: 3rem;
    margin-top: 2px;
    margin-bottom: 2px;
}

/* #tempoMenu {
    display: none;
    position: absolute;
    z-index: 1;
    margin-top: -32px;
    margin-left: 16vw;
} */

/* .checkbox-tempo-metronome {
    margin-left: -12px;
    margin-top: 10px;
} */

/* .checkbox-tempo-precount {
    margin-left: -2px;
    margin-top: 10px;
} */

/* #loopMenu {
    display: none;
    position: absolute;
    z-index: 1;
    margin-top: -32px;
    margin-left: 140px;
} */

.switch input { 
    display:none;
}
.switch {
    display:inline-block;
    width:50px;
    height:20px;
    transform:translateY(50%);
    position:relative;
}
/* Style Wired */
.slider {
    position:initial;
    top:0;
    bottom:0;
    left:0;
    right:0;
    cursor:pointer;
    font-size: 12px;
    font-family: 'Antonio';
}
.slider:before {
    position:initial;
    content:"";
    width:100%;
    height:100%;
}

input:checked + .slider:before {
    transform:translateX(30px);
    background:#007EA7;
}
input:checked + .slider {
    box-shadow:0 0 0 2px #007EA7,0 0 2px #007EA7;
}

/* Style Flat */
.switch.flat .slider {
 box-shadow:none;
}
.switch.flat .slider:before {
  background:#FFF;
}
.switch.flat input:checked + .slider:before {
 background:white;
}
.switch.flat input:checked + .slider {
  background:#007EA7;
}

.switch-loop {
    margin-left: -26px;
}

fieldset {
    display: none
}

fieldset.show {
    display: block
}

select:focus,
input:focus {
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    border: 1px solid #2196F3 !important;
    outline-width: 0 !important;
    font-weight: 400
}

button:focus {
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    outline-width: 0
}

.tabs {
    margin: 2px 5px 0px 5px;
    padding-bottom: 10px;
    cursor: pointer;
    width: 100px;
    text-align: center;
}

.tabs:hover,
.tabs.active {
    border-bottom: 1px solid #2196F3;
    background-color: rgb(255, 136, 0);
    color: #fff;
}

a:hover {
    text-decoration: none;
    color: #1565C0
}

.box {
    margin-bottom: 10px;
    border-radius: 5px;
    padding: 10px
}

.modal-backdrop {
    background-color: #64B5F6
}

.line {
    background-color: #CFD8DC;
    height: 1px;
    width: 100%
}

.track-name {
    width: 60px;
    font-size: 12px;
    text-align: center;
    font-family: 'Antonio';
}

.track-name-edit {
    font-size: small;
    font-family: 'Antonio';
    margin-bottom: -8px;
    margin-left: 8px;
    margin-top: 22px;
    cursor: pointer;
}

.volume-chooser {
    background: #333;
    color: #dedede;
    padding: 5px;
    display: inline-block;
    position: relative;
}
  
.volume-control {
    display: inline-block;
    top: 100%;
    border: none;
}

.volume {
    -webkit-appearance: slider-vertical;
    width: 2vw;
    height: 10vh;
}

.btn-track-menu.active {
    background-color: #E57116;
}

#btn-save-song:hover {
    background-color: #125b66;
}